<app-navbar-paciente></app-navbar-paciente>
<div fxLayoutAlign="center center" class="mt-3">
  <span>
    <h1 fxLayoutAlign="center center"><strong>Subir Archivo Personal</strong></h1>
    <h4>Espacio para subir algún archivo personal y para su comprobación.</h4>
  </span>
</div>

<!--- DEFINIER COMPONENTE DE FILE-->
<div class="wrapper">
  <div class="position-relative">
      <input class="input-file" (change)="capturarFile($event)" type="file" accept="application/pdf">
      <div class="preview-img" *ngIf="previsualizacion">
          <button class="clear-image" type="button" (click)="clearImage()">Eliminar</button>
          <img  [src]="previsualizacion" alt="" style="width: 400px;">
      </div>

      <div class="p-1">
        <small><strong>Solo se aceptan documentos de tipo .pdf</strong></small>
      </div>
      <div class="wrapper-button" *ngIf="previsualizacion">
          <button type="button" class="button" [disabled]="loading" (click)="subirArchivo()">
              {{(loading) ? 'Cargando.....' : 'Subir Archivo'}}
          </button>
      </div>

  </div>

</div>
