
  <div class="container-fluid">
    <div class="row">
        <div class="col col-12 align-content-center align-items-center">
            <span>
                      <a href="https://www.facebook.com/Zona-Medica-101124942409809"><i class="fab fa-facebook-f"> </i></a>
                    <i class="fab fa-twitter"></i>
                    <a href="https://www.instagram.com/zonamedica504/"><i class="far fa-envelope"></i></a>
                    <i class="fas fa-paper-plane"></i>
                    <a href="https://www.youtube.com/channel/UCzxP-jhyCcfpueUG4WU-qzQ"><i class="fab fa-youtube"></i></a>
                    <i class="fab fa-whatsapp"></i>
            </span>
        </div>

    </div>
    <div class="row">
        <div class="col col-6 mr-auto">
            <span>Todos los derechos reservados</span>
        </div>
        <div class="col col-6 politicas ml-auto">
            <span>Políticas de privacidad</span>
            <span>Legal</span>
            <a routerLink="/admin/login-admin" style="color: #5A874B;;"><span>Cookies</span></a>
        </div>
    </div>
</div>
